<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAKARYA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="stil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>  
</head>
  <body class="iletisimsayfasi">

   <nav class="navbar navbar-expand-lg nav-bg">
  <div class="container p-0">
    <a class="navbar-brand" href="#">
      <img src="n_harfi.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </li>
      <li class="nav-item d-flex align-items-center p-2 ">
        <a class="nav-link active" aria-current="page" href="proje.html">HAKKIMDA</a>
        
        <span class="ayrac">|</span>
      </li>

        <li class="nav-item d-flex  align-items-center ">
          <a class="nav-link active" aria-current="page" href="ozgecmis.html">ÖZGEÇMİŞ</a>
          <span class="ayrac">|</span>
        </li>

        <li class="nav-item d-flex  align-items-center ">
          <a class="nav-link active" aria-current="page" href="sehrim.html">ŞEHRİM</a>
          <span class="ayrac">|</span>
      </li>

      <li class="nav-item d-flex  align-items-center ">
        <a class="nav-link active" aria-current="page" href="mirasimiz.html">
          TAKIMIMIZ</a>
        <span class="ayrac">|</span>

      </li>
    </li>
    <li class="nav-item d-flex  align-items-center ">
      <a class="nav-link active" aria-current="page" href="ilgi.html">İLGİ ALANLARIM</a>
      <span class="ayrac">|</span>
    </li>

    <li class="nav-item d-flex  align-items-center ">
      <a class="nav-link active" href="giris.html">GİRİŞ</a>
      <span class="ayrac">|</span>
    </li>

    <li class="nav-item d-flex  align-items-center ">
      <a class="nav-link active" href="iletisim.html">İLETİŞİM</a>
      <span class="ayrac">|</span>
    </li>


     
    </div>
  </div>
</nav>

<!--form id="contactForm">
    <div>
        <label for="ad">Adınız:</label>
        <input type="text" id="ad" name="ad">
    </div>
    <div>
        <label for="soyad">Soyadınız:</label>
        <input type="text" id="soyad" name="soyad">
    </div>
    <div>
        <label for="sifre">Şifre:</label>
        <input type="password" name="sifre">
    </div>
    <div>
        <label for="cinsiyet">Cinsiyetiniz:</label>
        <input type="radio" name="cinsiyet" value="kadın">kadın
        <input type="radio" name="cinsiyet" value="erkek">erkek
    </div>
    <div>
        <label for="email">E-posta Adresiniz:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="dosya">Dosya:</label>
        <input type="file" name="dosya">
    </div>
    <div>
        <select name="sec">
            <option value="">Sec</option>
            <option value="html">html</option>
            <option value="js">js</option>
            <option value="php">php</option>
        </select>
    </div>
    <div>
        <label for="list">Liste:</label>
        <input type="text" list="universiteler">
        <datalist id="universiteler">
        <option value="sau">
        Sakarya Üniveristesi
        </option>
        <option value="subu">
        Sakarya Uyg. Bil. Üniversitesi
        </option>
        <option value="kou">
        Kocaeli Üniversitesi
        </option>
        <option value="itu">
        İstanbul Teknik Üniversitesi
        </option>
        </datalist>
    </div>
    <div>
        <label for="mesaj">Mesajınız:</label>
        <textarea id="mesaj" name="mesaj" rows="4"></textarea>
    </div>
    <div>
        <input type="checkbox" name="onay" value="onay">Onaylıyorum.
    </div>
    <button type="reset">Temizle</button>
    <button type="button" onclick="validateForm('normal')">Gönder</button>
    
    <button type="button" onclick="validateForm('vue')">Vue.js ile Gönder</button>
</form-->

<form id="contactForm" name="contactForm">
  <div>
      <label for="ad">Adınız:</label>
      <input type="text" id="ad" name="ad" v-model="formData.ad">
  </div>
  <div>
      <label for="soyad">Soyadınız:</label>
      <input type="text" id="soyad" name="soyad" v-model="formData.soyad">
  </div>
  <div>
      <label for="sifre">Şifre:</label>
      <input type="password" name="sifre" v-model="formData.sifre">
  </div>
  <div>
      <label for="cinsiyet">Cinsiyetiniz:</label>
      <input type="radio" name="cinsiyet" value="kadın" v-model="formData.cinsiyet">kadın
      <input type="radio" name="cinsiyet" value="erkek" v-model="formData.cinsiyet">erkek
  </div>
  <div>
      <label for="email">E-posta Adresiniz:</label>
      <input type="email" id="email" name="email" v-model="formData.email">
  </div>
  <div>
      <label for="dosya">Dosya:</label>
      <input type="file" name="dosya" v-model="formData.dosya">
  </div>
  <div>
      <select name="sec" v-model="formData.sec">
          <option value="">Sec</option>
          <option value="html">html</option>
          <option value="js">js</option>
          <option value="php">php</option>
      </select>
  </div>
  <div>
      <label for="list">Liste:</label>
      <input type="text" list="Projeler" name="list" v-model="formData.liste">
      <datalist id="Projeler">
          <option value="HTML">HTML KULLANARAK PROJE</option>
          <option value="PHP">PHP KULLANARAK PROJE</option>
          <option value="JAVA">JAVA KULLANARAK PROJE</option>
          
          
      </datalist>
  </div>
  <div>
      <label for="mesaj">Mesajınız:</label>
      <textarea id="mesaj" name="mesaj" rows="4" v-model="formData.mesaj"></textarea>
  </div>
  <div>
      <input type="checkbox" name="onay" value="onay" v-model="formData.onay">Onaylıyorum.
  </div>
  <button type="reset">Temizle</button>
  <button type="button" onclick="validateForm('normal')">Gönder</button>
  <button type="button" @click="validateForm('vue')">Vue.js ile Gönder</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>

function emailKontrol(email){

  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  return emailRegex.test(email);
}

var app = new Vue({
  el: '#contactForm',
  data: {
      formData: {
          ad: '',
          soyad: '',
          sifre: '',
          cinsiyet: '',
          email: '',
          dosya: '',
          sec: '',
          liste: '',
          mesaj: '',
          onay: false
      }
  },
  methods: {
      validateForm: function(type) {
          if (type === 'vue') {
             
              for (var key in this.formData) {
                  if (!this.formData[key]) {
                      alert('Lütfen tüm alanları doldurun!');
                      return;
                  }
                  if(!emailKontrol(this.formData.email)){
                    alert('Lütfen email adresinizi kontrol edin  (orn: abc@gmail.com )')
                    return;
                  }
                  if(this.formData.sifre.length<8){
                    alert('Şifre en az 8 karakter olmalı')
                    return;
                  }
                  if(this.formData.mesaj.length>100){
                    alert('Mesaj en fazla 100 karakter uzunluğunda olabilir')
                    return;
                  }
                 
              }

         
              alert('Form başarıyla gönderildi!');

              
              
              document.write('Ad: '+this.formData.ad + '<br>')
              document.write('Soyad:  '+this.formData.soyad + '<br>')
              document.write('Cinsiyet: '+this.formData.cinsiyet+ '<br>')
              document.write('E-posta:  '+this.formData.email+ '<br>')
              document.write('Dosya:  '+this.formData.dosya+'<br>')
              document.write('Secim:  '+this.formData.sec + '<br>')
              document.write('Liste:  '+this.formData.liste + '<br>')
              document.write('Mesaj:  '+this.formData.mesaj  + '<br>')
              document.write('Onay: '+this.formData.onay + '<br>')

              document.write('<button onclick="window.location.reload();">Forma dön</button><br>');
             

          } else {
              // Normal form gönderme işlemleri buraya gelecek
          }
      }
  }
});
</script>

<script>


function validateForm(){
  var adf = document.forms["contactForm"]["ad"].value;
  var soyadf = document.forms["contactForm"]["soyad"].value;
  var sifref = document.forms["contactForm"]["sifre"].value;
  var  cinsiyetf = document.forms["contactForm"]["cinsiyet"].value;
  var emailf = document.forms["contactForm"]["email"].value;
  var emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  var dosyaf = document.forms["contactForm"]["dosya"].value;
  var secf = document.forms["contactForm"]["sec"].value;
  var listf = document.forms["contactForm"]["list"].value;
  var mesajf = document.forms["contactForm"]["mesaj"].value;
  var onayf =document.forms["contactForm"]["onay"].checked;

  if (adf == null || adf == "") {
alert("Lütfen isminizi girin!");
return false;
}
if(soyadf == null || soyadf ==""){
  alert("Lütfen soyadınızı girin!");
  return false;
}
if(sifref == null || sifref ==""){
  alert("Lütfen şifrenizi girin!");
  return false;
}
if(sifref.length < 8){
  alert("Şifreniz en az 8 karakter olmalı");
  return false;
}
if(cinsiyetf==""){
  alert("Lütfen cinsiyet seçiniz!");
  return false;

}
if(emailf==""){
  alert("Lütfen e-mailinizi giriniz!");
  return false;
}
if(!emailFormat.test(emailf)){
    alert("Geçersiz e-mail lütfen e-mailinizi kontrol edin! (örn: abc@gmail.com)");
    return false;
}
if(dosyaf==""){
  alert("Lütfen dosya seçin!");
  return false;
}
if(secf== ""){
  alert("Lütfen seçim yapın");
  return false;
}
if(listf==""){
  alert("Lütfen listeden seçim yapın");
  return false;
}
if(mesajf==""){
  alert("Lütfen mesaj giriniz!");
  return false;
}
if(!onayf){
  alert("Lütfen formu onaylayın!");
  return false;
}
else{
  document.getElementById("contactForm").submit();
  alert("Form başarılı bir şekilde gönderildi.");
  

  document.write('Ad:'+adf+ '<br>');
  document.write('Soyad:'+soyadf+ '<br>');
  document.write('Cinsiyet:'+cinsiyetf+ '<br>');
  document.write('Em-ail:'+emailf+ '<br>');
  document.write('Dosya:'+dosyaf+ '<br>');
  document.write('Secim:'+secf+ '<br>');
  document.write('Liste:'+listf+ '<br>');
  document.write('Mesajınız: '+mesajf+ '<br>');
  document.write('<button onclick="window.location.reload();">Forma dön</button><br>');
 
}
}
</script>


    



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
  </script>
  
  
  </body>
</html>