.ayrac{
    font-size: 20px;
    margin: 0px 20px;
    color: black;
}
.nav-bg{
    background-color: rgba(25, 76, 27, 0.284);
}


.ust-kisim2{
   background-color: white;

    background-size: cover;
   background-repeat: repeat-y;
    background-attachment: fixed;
    font-size:large;
    font: bold;

}

.header {
    display: flex;
    align-items: center;
  }
  
 .h1 {
    margin: 0 10px; 
  }

body {
    margin-bottom: 0;
}




.container-anasayfa{
    color: white;
    font: size 17px; ;
    background-image: url(Adsız\ tasarım.png);
    background-size: cover;
    background-position: center center;
   background-repeat: repeat-y;
    background-attachment: fixed;
    font-size:large;
    font: bold;


}
.container-sehrimtum{
    color: white;
    font: size 17px; ;
    background-image: url(Adsız\ tasarım.png);
    background-size: cover;
    background-position: center center;
   background-repeat: repeat-y;
    background-attachment: fixed;
    font-size:large;
    font: bold;
    margin-bottom: -60px;
    padding-bottom: -60px;  
    
}


.onerilerim{
background-color:  rgb(66, 109, 68);
}

.nav-item a{
color: black;
font-size: 16px;
font-weight: 600;
}

@media screen and (max-width:992px) {
    .ayrac{
        display: none;
    }
}

.nav-item:hover{
    background-color: rgb(109, 109, 107);
  margin-left: -30px;
   
    
}

.carousel {
    width: 800px;
    margin: auto;
    
}

.carousel {
    
    max-width: 100%;
    margin: auto;
    
}

.carousel-inner {
max-width: 100%;
margin: auto;
}
.carousel img{
    max-width: 100%; 
    height: auto; 
}

.icerik{
   font-size: 17px;
   color:black;
   
}
.baslik{
background-color: rgba(240, 248, 255, 0);
   font-style: italic;
   margin-top: auto;
    text-align: center;
}

.sehirbilgi{
    color: white;
   font-size: large;
   font: bold;
    max-width: 800px;
    max-height: 600px;

  margin: auto;
}

.alt{
    background-color:   rgb(66, 109, 68);
    text-align: center; 
    padding: 50px 0; 
    color: white;
}

  
.yerler{
    color: white;
    margin-top: 80px;
}

.yerler p{
    margin-bottom: 40px;
}

.container-miras{
    align-items: center;
    background-color: rgb(66, 109, 68);
    color: white;  
    margin: auto;
}


.container-miras h4{
    font-style: italic;
}

.resim-container{
    align-items: center;
    background-color: rgb(66, 109, 68);
    color:white;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
  
}
@media screen and (max-width: 600px) {
    .resim-container {
      flex-direction: column; 
      align-items: center; 
    }

.text-container{
    margin-left: 0;
    margin-top: 20px;
    
}
}


  
.footer {
    text-align: center;
    background-color: rgb(66, 109, 68);
    color: white;
  
   
}


.ozgecmisresim-container {
    display: flex;
    align-items: flex-start; 
    background-color: rgb(66, 109, 68);
    color: white;
}

.ozgecmis-container {
    background-color: rgb(66, 109, 68);
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: -60px;
    padding-bottom: -60px;  
}

ul {
    list-style-position: inside; 
    text-align: center; 
}

.ozgecmisresim-container img {
    margin: auto;
    background-color: rgb(66, 109, 68);

}

body {
    font-family: Arial, sans-serif;
}

.kitap-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color:#6b2121;
    color: white;
    
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #0e4125;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}

#kitaplar {
    margin-top: 20px;
    text-align: left;
}

#kitap-form{
    background-color:#6b2121 ;
}

.ilgibody{
    background-image: url("Adsız tasarım.png");
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .formgonder {
    margin-bottom: 20px;  
    margin-top: 150px;
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
  }
  
  .button-container input[type="submit"] ,
  .button-container input[type="reset"] {
    margin-left: 10px; 
    color: #ffffff;
    background-color:rgb(41, 76, 43);
  }
  
.body-background{
    background-repeat: no-repeat;
    background-position: center;
}
/*giriş sayfasının arkaplanı*/
.sayfa{
    background-image: url("Adsız tasarım.png");
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
    color: white;
  }
/*giriş tablonun arkaplanı */
  .giristablo{
    background-color: rgb(41, 76, 43);
  }

  /*iletişim sayfasının arkaplanı */
  .iletisimsayfasi{
    background-image: url("Adsız tasarım.png");
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
    color: white;
  }
  
  .iletisimform{
   
    align-items: center;
    margin-top: 50px;
    font-size: medium;
  }
  .iletisimform label {
    width: 100px; /* Etiketlerin sabit genişliği */
    display: inline-block; /* Etiketlerin yan yana sıralanması */
    margin-top: 10px;
}

.iletisimform input {
    padding-left: 60px; /* Giriş alanlarının sola iç içe kaydırılması */
    margin-top: 10px;
 
}

.secim{
   margin-left: 100px;
}
.list1{
    margin-left: 100ox;
}


#contactForm {
    max-width: 500px;
    margin: 20px auto;
    background-color: #6b2121;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm h1 {
    text-align: center;
    margin-bottom: 20px;
}

#contactForm div {
    margin-bottom: 15px;
}

#contactForm label {
    
    font-weight: bold;
    color: #ffffff;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm input[type="file"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

#contactForm textarea {
    resize: vertical; 
}

#contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #6e2d2d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#contactForm button:hover {
    background-color: rgb(66, 109, 68);
}

.container-acarlarbody{ /*acarlar longozu body stilleri*/
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
    background-color: rgb(66, 109, 68);
}
.acarlarsyf {
    text-align: center; 
    padding: 50px 0; 
    color: white;
}

/* Acarlar resmi stil */
.acarlarresim {
    max-width: 100%; 
    height: auto; 
}
.sapancasyf{
    text-align: center; 
    padding: 50px 0; 
    color: white;
}
.sapancaresim{
    max-width: 100%; 
    height: auto; 
}
.container-sapanca-body{
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
    background-color: rgb(66, 109, 68);
}

.yerlersyf{
    text-align: center; 
    padding: 50px 0; 
    color: white;
}
.yerlerresim{
    max-width: 100%; 
    height: auto; 
}
.container-yerler-body{
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
    background-color: rgb(66, 109, 68);
}


