.ayrac{
    font-size: 20px;
    margin: 0px 20px;
    color: black;
}
.nav-bg{
    background-color: rgba(25, 76, 27, 0.284);
}


.ust-kisim2{
   background-color: white;

    background-size: cover;
   background-repeat: repeat-y;
    background-attachment: fixed;
    font-size:large;
    font: bold;

}
body {
    margin-bottom: 0;
}



.container-anasayfa{
    color: white;
    font: size 17px; ;
    background-image: url(Adsız\ tasarım.png);
    background-size: cover;
    background-position: center center;
   background-repeat: repeat-y;
    background-attachment: fixed;
    font-size:large;
    font: bold;


}
.container-sehrimtum{
    color: white;
    font: size 17px; ;
    background-image: url(Adsız\ tasarım.png);
    background-size: cover;
    background-position: center center;
   background-repeat: repeat-y;
    background-attachment: fixed;
    font-size:large;
    font: bold;
    margin-bottom: -60px;
    padding-bottom: -60px;  
}


.onerilerim{
background-color:  rgb(66, 109, 68);
}

.nav-item a{
color: black;
font-size: 16px;
font-weight: 600;
}

@media screen and (max-width:992px) {
    .ayrac{
        display: none;
    }
}

.nav-item:hover{
    background-color: rgb(109, 109, 107);
}


.carousel {
    max-width: 800px;
    margin: auto;
}

.carousel-inner {
max-height: 450px;
}

.icerik{
   font-size: 17px;
   color:black;
   
}
.baslik{
background-color: rgba(240, 248, 255, 0);
   font-style: italic;
   margin-top: auto;
    text-align: center;
}

.sehirbilgi{
    color: white;
   font-size: large;
   font: bold;
    max-width: 800px;
    max-height: 600px;

  margin: auto;
}

.alt{
    background-color:   rgb(66, 109, 68);

}

  
.yerler{
    color: white;
    margin-top: 80px;
}

.yerler p{
    margin-bottom: 40px;
}

.container-miras{
    align-items: center;
    background-color: rgb(66, 109, 68);
    color: white;
    margin-bottom: -50px;
}

.resim-container{
    align-items: center;
    background-color: rgb(66, 109, 68);
    color:white;
    display: flex;
  
}
@media screen and (max-width: 600px) {
    .resim-container {
      flex-direction: column; 
      align-items: center; 
    }

.text-container{
    margin-left: 0;
    margin-top: 20px;
    
}
}


  
.footer {
    text-align: center;
    background-color: rgb(66, 109, 68);
    color: white;
  
   
}


.ozgecmisresim-container {
    display: flex;
    align-items: flex-start; 
    background-color: rgb(66, 109, 68);
    color: white;
}

.ozgecmis-container {
    background-color: rgb(66, 109, 68);
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: -60px;
    padding-bottom: -60px;  
}

ul {
    list-style-position: inside; 
    text-align: center; 
}

.ozgecmisresim-container img {
    margin: auto;
    background-color: rgb(66, 109, 68);

}

body {
    font-family: Arial, sans-serif;
}

.kitap-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(165, 78, 78);
    color: white;
    
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #0e4125;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}

#kitaplar {
    margin-top: 20px;
    text-align: left;
}

#kitap-form{
    background-color:rgb(165, 78, 78) ;
}

.ilgibody{
    background-image: url("Adsız tasarım.png");
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .formgonder {
    margin-bottom: 20px; /* Form ve butonlar arasındaki boşluğu ayarlar */
    margin-top: 150px;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Butonları yatay olarak ortalar */
  }
  
  .button-container input[type="submit"],
  .button-container input[type="reset"] {
    margin-left: 10px; /* Butonlar arasındaki boşluğu ayarlar */
  }
  
.body-background{
    background-repeat: no-repeat;
    background-position: center;
}

.sayfa{
    background-image: url("Adsız tasarım.png");
    height: auto; 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y; 
    background-attachment: fixed;
    font-size: large;
    font-weight: bold;
    color: white;
  }

  .giristablo{
    background-color: rgb(41, 76, 43);
  }
  